$primary-color: #b9c6fb;

body {
    background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%) fixed;
}

.container {
    background: #fff;
    height: 100%;
    margin: 50px;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 5px;

    .sub-container {
        text-align: center;
        padding: 15px;

        h1 {
            color: $primary-color;
            text-shadow: 1px 1px 0px #000, 2px 2px 0px #000;;
        }

        .interaction-wrapper {
            border: 1px solid #000000;
            border-radius: 5px;
            padding: 15px;
            position: relative;

            .drag-n-drop {
                width: fit-content;     
                
                .dnd-group {
                    border: 1px solid #000000;
                    border-radius: 5px;                   
                }

                .dnd-draggables-container {
                    display: flex;
                    justify-content: space-evenly;
                    padding: 15px;
                    text-align: left;                   

                    .dnd-item {
                        margin: 5px;
                        padding: 5px;
                        border: 1px solid #000000;
                        border-radius: 5px;
                    }  
                } 
                
                .dnd-target {
                    position: absolute;
                    width: 70px;
                    height: 70px;

                    &-low-1 {
                        top: 165px;
                        left: 192px;
                    }

                    &-low-2 {
                        top: 255px;
                        left: 192px;
                    }

                    &-low-3 {
                        top: 165px;
                        left: 324px;
                    }

                    &-low-4 {
                        top: 255px;
                        left: 324px;
                    }

                    &-high-1 {
                        top: 205px;
                        left: 455px;
                    }

                    &-high-2 {
                        top: 295px;
                        left: 455px;
                    }

                    &-high-3 {
                        top: 205px;
                        left: 542px;
                    }

                    &-high-4 {
                        top: 295px;
                        left: 542px;
                    }

                    &-hurricane-1 {
                        bottom: 433px;
                        right: 178px;
                    }

                    &-hurricane-2 {
                        bottom: 362px;
                        right: 178px;
                    }
                }
            }
        }

        .button-default {
            width: auto;
            color: $primary-color;
            text-decoration: underline;
            font-weight: bold;
            background-color: transparent;
            border: none;
            display: block;
            cursor: pointer;
            margin: 15px auto;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;

    .modal {
        z-index: 100;
        background: #6078b0;
        border: 5px solid $primary-color;
        color: #fff;
        position: relative;
        margin: 1.75rem auto;
        border-radius: 5px;
        max-width: 500px;
        padding: 2rem;

        .modal-header {
            width: 100%;

            h3 {
                text-align: center;
            }
            
        }

        .modal-close-button {
            width: auto;
            padding: 9px;
            color: #fff;
            font-weight: bold;
            background-color: $primary-color;
            border: none;
            border-radius: 25px;
            display: block;
            cursor: pointer;
            margin: 15px auto 0 auto;

            &:hover {
                background-color: darken($color: $primary-color, $amount: 25%);
            }
        }
    }
}